#header {	
	background-color: #444;
	background: url(assets/img/zebra.jpg) no-repeat center top;
	margin-top: -20px;
	padding-top: 150px;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 ;
  
  border: 1px solid orange;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: orange;
}
#backgrndexc {
    background: black;
    color: orange;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: orange;
}
#header h1 {
	margin-top: 60px;
	margin-bottom: 15px;
	color: orange;
	font-size: 45px;
	font-weight: 900;
	letter-spacing: -1px;
}
img{
    display:inline;
}
